@font-face {
  src: url('../fonts/GmarketSansLight.otf');
  font-family: 'GmarketSansLight';
}

@font-face {
  src: url('../fonts/GmarketSansMedium.otf');
  font-family: 'GmarketSansMedium';
}

@font-face {
  src: url('../fonts/GmarketSansBold.otf');
  font-family: 'GmarketSansBold';
}

body {
  margin: 0;
  padding: 0;
  font-family: 'GmarketSansMedium';
}

html{
  scroll-behavior: smooth;
}

.navbar{
  background-color: #F0B744;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0.5px 3px #999;
  width: 100%;
  height: 12vh;
  z-index: 2;
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}

.down {
  background-color:white;
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}

.navbar>a{
  position: absolute;
  left: 20%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;

}

.nav{
  position: absolute;
  display: flex;
  justify-content: right;
  list-style: none;
  right: 20%;
}

.nav a{
  margin: 10px;
  color: black;
  text-decoration: none;
}

.nav a:hover{
  color:#777;
}

.area{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.title{
  font-family: 'GmarketSansBold';
  text-align: center;
  margin: 120px 0 80px 0;
}

/* main */
#main {
  position: relative;
  overflow: hidden;
  height: 550px;
}

#main video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.text-area-main {
  font-size: 61px;
  font-family: 'GmarketSansBold';
}

/* first */
#first {
  /* position : absolute;
  top: 534px;
  width: 100%; */
  margin: 150px 0;
  text-align: center;
  /* overflow: hidden; */
}

/* 지구니가 좋다 부분 */
.image{
  width: 100%;
  font-family: 'GmarketSansBold';
  font-size: 22px;
}

.image img{
  width: 162px;
  height: 156px;
}

.image p{
 margin-top: 10px;
}

/* 내용 부분 */
.text-area-first{
 font-family: 'GmarketSansMedium';
 font-size: 23px;
 margin: 80px 0;
}

.text-area-first1{
  margin: 35px 0;
}

.text-area-first2{
  margin: 35px 0;
}

/* second */
#second {
  /* position: absolute;
  top: 1488px;
  width: 100%;
  height: 1221px;
  overflow: hidden; */
  height: 160vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
}

#second video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.second-area-second{
  position: absolute;
}

/* 맨 윗 글씨 */
.text-title-second{
  /* position: absolute;
  top: 195px; */
  font-size: 53px;
  font-family: 'GmarketSansBold';
  margin: 80px 0 140px 0;
}
/* 가운데 박스들 */
.text-box {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  width: 240px;
  margin: 0 8px;
  /* position: absolute;
  top: 472px;
  left: 460px;
  width: 237px;
  height: 342px; */
}

/*가운데 박스들 폰트 관련 */
.box-title{
  font-family: 'GmarketSansBold';
  font-size: 100px;
  /* border-bottom: 1px solid white; */
}

.box-title p{
  margin: 50px 50px 0px 50px;
}

hr{
  background-color: white;
  border: 0;
  height: 1.5px;
  width: 45px;
}

.about{
  font-family: 'GmarketSansMedium';
  font-size: 16px;
  letter-spacing: 2px;
  margin: 60px 0;
}

/* 맨 바닥 부분 */
.text-bottom-second{
  font-family: 'GmarketSansLight';
  font-size: 21px;
  font-weight: bold;
  margin: 200px 0 50px 0;
}

/* footer */
.footer-area {
  position: absolute;
  top: 2709px;
  width: 100%;       /* 위치 및 크기 설정 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0 0.5px 3px #222;
  padding: 100px 0;
}

.footer-container {
  margin-right: 50px;
  display: inline-block;
}

.container-title {
  font-size: 18px;
  font-weight: bold;
  margin: 40px 0;
}

.container-content {
  font-family: 'GmarketSansLight';
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  margin: 40px 0;
}

.container-copyright {
  font-family: 'GmarketSansLight';
  font-size: 14px;
  margin: 40px 0;
}

.container-title2 img {
  width: 80px;
  height: 102px;   /* 크기 설정 */
}

.container-content2 img {
  width: 25px;
  height: 26px;     /*크기 설정 */
  margin: 30px 0;
}

.footer-container a {
  margin: 0px;
}
.sns-logo {
  width: 20px;
}
